# Example environment variables for Wild Strikes Aptos Monorepo

# Server
PORT=
HOST=
NEXT_PUBLIC_SOCKET_HOST=
NEXT_PUBLIC_SOCKET_PORT=

# Client - Socket.IO connection
NEXT_PUBLIC_SOCKET_URL=
SOCKET_HOST=
SOCKET_PORT=
# Add any other client-side environment variables here
NEXT_PUBLIC_API_URL=
NODE_ENV=development
